body {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background: #eecf8c;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
    vertical-align: middle;
}

.invitation-cont {
    display: flex;
    justify-content: center;
}

.confirmation-txt {
    font-size: 11px;
    text-align: center;
    margin-top: 51px;
}

.main-img {
    width: 40%;
    max-width: 40%;
    position: absolute;
    top: 16%;
    left: 30%;
}

/**
@ tooltip
*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 19px;
    margin-top: -21px;
    
    /* Position the tooltip text*/
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /**
  @ toaster css
  */

  /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #96b33d; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
/**
@preloader
*/
#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: #eecf8c;
    transition: width 2s;
    -moz-transition: width 2s; /* Firefox 4 */
    -webkit-transition: width 2s; /* Safari and Chrome */
    -o-transition: width 2s; /* Opera */
}


.loadContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    top: 61%;
    position: absolute;
    left: 43%;
}

.invitation-msg {
    font-weight: 700;
}
.loaderContainer {
    position: absolute;
    left: 42%;
    top: 36%;
    width: 220px;
    text-align: center;
    font-size: 15px;
    z-index: 3;
    line-height: 97px;
}

/**
@header
*/

header {
    height: 26px;
    width: 100%;
    background: rgb(71 82 93 / 45%);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 12px;
    height: 49px;
    min-height: 49px;
}

/**
@footer
*/

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 1%;
    text-align: center;
    width: 100%;
    left: 0;
}
.menu {
    position: absolute;
    bottom: 1%;
    left: 1%;
}

.signature {
    position: absolute;
    bottom: 0;
    left: 45%;
}
.signature {
    color: black;
}
.menu-img {
    width: 94%;
}
.chat-img {
    width: 94%;
}
.user-img {
    width: 94%;
}
.note-img {
    width: 94%;
}
.pop-div {
    font-size: 13px;
    font-size: 13px;
    background: #4e4c67;
    padding: 16px;
    border-radius: 40px;
    height: 4em;
    width: 4em;
}
.music {
    position: absolute;
    right: 1%;
    bottom: 1%;
}
.fab-msg,
.fab-confirm {
    font-size: 13px;
    font-size: 13px;
    background: #4e4c67;
    padding: 16px;
    border-radius: 40px;
    height: 4em;
    width: 4em;
    margin-bottom: 9px;
}
.pop-title {
    display: none;
    color: blue;
    font-size: 15px;
    border-radius: 40em;
}
.pop-content {
    display: none;
    color: red;
    font-size: 10px;
}
.footer-logo {
    position: absolute;
    left: 48%;
    z-index: 4;
    bottom: 0;
}

/**
@modal
*/

.modal-btn2,
.modal-btn,
#myBtnChat,
#myBtn,
#poplink {
    cursor: pointer;
}
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgb(0 0 0 / 86%); /* Black w/ opacity */
}

#myModalChat {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgb(0 0 0 / 86%); /* Black w/ opacity */
}
.modal-header1,
.modal-body1,
.modal-footer1 {
    width: 27%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-header2,
.modal-body2,
.modal-footer2 {
    width: 21%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-btn {
    -webkit-appearance: media-volume-sliderthumb;
    background: #ffcd92;
}
.modal-btn2 {
    -webkit-appearance: media-volume-sliderthumb;
    background: #ffcd92;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Modal Header */
.modal-header1,
.modal-header2 {
    padding: 2px 16px;
    background-color: #ffcd92;
    color: black;
    text-align: center;
    margin-top: 20%;
}

.modal-header2 {
    margin-top: 12%;
}

/* Modal Body */
.modal-body1,
.modal-body2 {
    padding: 2px 5px;
    background-color: #e9ecef;
}

/* Modal Footer */
.modal-footer1,
.modal-footer2 {
    padding: 2px 16px;
    background-color: #e9ecef;
    color: white;
    padding: 29px;
}

/* Modal Content */
.modal-content1 {
    position: relative;
    background-color: #ffff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
/* Modal Content */
.modal-content2 {
    position: relative;
    background-color: #ffff;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 22%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin: 1rem auto;
        max-width: 100%;
        box-sizing: border-box;
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }
    img {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .invitation-cont {
        display: flex;
        justify-content: center;
        flex-grow: 4; /* default 0 */
    }
    .block1,
    .block2 {
        flex-grow: 1;
    }
    img {
        width: 100%;
        max-width: 100%;
    }

    .main-img {
        width: 40%;
        max-width: 40%;
        position: absolute;
        top: 22%;
        left: 0;
    }

    /**
@modal
*/

    textarea {
        width: 100%;
    }
    .modal-header2,
    .modal-body2,
    .modal-footer2,
    .modal-header1,
    .modal-body1,
    .modal-footer1 {
        width: 99%;
    }

    .modal-header1,
    .modal-body1,
    .modal-footer1 {
        display: flex;
        flex-direction: column;
    }

    .modal-btn {
        margin-top: 12px;
    }

    .signature {
        position: absolute;
        bottom: 0;
        left: 30%;
    }

    /**
    @preloader
    */

    .loaderContainer {
        position: absolute;
        left: 18%;
        top: 36%;
        width: 220px;
        text-align: center;
        font-size: 15px;
        z-index: 3;
        line-height: 97px;
    }
    /**
      @Lyatos
      */

    .footer-logo {
        position: absolute;
        left: 43%;
        z-index: 4;
        bottom: 0;
    }
}
